@model ShopTARge22.Models.AccuWeather.AccuSearchCityViewModel

<div class="taust">
    <div class="container">
        <form method="post">
            <div class="container" style="width:50%;">
                <div>
                    <h1>AccuWeather Forecast</h1>
                    <h3>Search the city</h3>
                    <label asp-for="City" style="font-family: Arial"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="container">
                    <div>
                        <button asp-controller="AccuWeathers" asp-action="searchCity" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>