@model ShopTARge22.Models.RealEstates.RealEstateImageViewModel

        <div class="form-group row col-sm-4 offset-2">
            <div>@Model.ImageTitle </div>
            <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
        </div>
