@model ShopTARge22.Models.Forecast.SearchCityViewModel

<div class="taust">
    <div class="container">
        <form method="post">
            <div class="container" style="width:50%;">
                <div>
                    <h1>OpenWeather Forecast</h1>
                    <h3>Search the forecast in a city</h3>
                    <label asp-for="CityName" style="font-family: Arial"></label>
                    <input asp-for="CityName" class="form-control" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
            </div>
            <div class="container">
                <div>
                    <button asp-controller="weatherForecasts" asp-action="searchCity" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>