@*@model ShopTARge22.Models.AccuWeather.AccuWeatherViewModel*@

<div class="taust">
    <form method="post">
        <div >
            <h2>Accu forecast for Tallinn</h2>
        </div>
        <br />
        <div class="container">
            <div>
                <button asp-controller="AccuWeatherForecasts" asp-action="ShowAccuWeather" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>