@{ViewData["Title"] = "ResetPasswordConfirmation";}
<div class="taust">
    <h4 class="text-danger">
        Your password is reset. Click
        <a asp-action="Login" asp-controller="Accounts">
            here
        </a>
        to login
    </h4>
</div>