@model ShopTARge22.Models.Kindergartens.KindergartenCreateUpdateViewModel
    <div class="taust">
        @if (Model.Id.HasValue)
        {
            <h1>Update</h1>
        }
        else
        {
            <h1>Create</h1>
        }

        <div>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CreatedAt" type="hidden" />
                <input asp-for="UpdatedAt" type="hidden" />

                <div class="form-group row">
                    <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="GroupName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="ChildrenCount" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="KindergartenName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Teacher" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Teacher" class="form-control" />
                    </div>
                </div>

                <hr />
                <hr />

                @if (Model.Id.HasValue)
                {
                    <input asp-action="update" asp-controller="kindergartens" type="submit" class="btn btn-primary" value="Update" />
                }
                else
                {
                    <input asp-action="create" asp-controller="kindergartens" type="submit" class="btn btn-primary" value="Create" />
                }

                <a asp-action="index" class="btn btn-primary">Back</a>

            </form>
        </div>
       </div>

        @section Scripts
{
            <script>$(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-input');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                        }
                    });
                });</script>
        }
