
<div class="taust">
    <div class="container">
        <form method="post">
            <div class="container" style="width:50%;">
                <div>
                    <h2>Welcome to Chuck Norris joke site</h2>
                </div>
            </div>
            <div class="container">
                <div>
                    <button asp-controller="chuckNorris" asp-action="searchChuckNorrisJokes" class="btn btn-primary">Chuck Norris joke</button>
                </div>
            </div>
        </form>
    </div>
</div>