html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    a .navbar-brand white-space: normal;
    word-break: break-all;
    background-image: url(https://unsplash.it/1920/1080?random);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
    overflow:hidden;
}

/*div {
    background-color: rgba(0, 0, 0, .3);
}*/


a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    /*    white-space: nowrap;
    line-height: 60px;
*/
    text-align: center;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    background-color: white;
    color: rgba(0, 0, 0, .8);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:25px;
    font-size: 16px;
}


.taust {
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding:20px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    background-color: rgba(255,255,255, .2);
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgba(0,0,0, .2);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.loggedin-btn {
    background-color: rgba(255,255,255, .2);
    border-radius: 10px;
    border: none;
    height:45px;
    min-width:45px;
}
    .loggedin-btn:hover {
        background-color: rgba(0,0,0, .2);
    }